{% block content %}

  <form class="form-horizontal ajax-post" role="form" action="{% url 'rest_logout' %}">{% csrf_token %}
    <div class="form-group">
      <label for="token" class="col-sm-2 control-label">Token de l'utilisateur</label>
      <div class="col-sm-4">
        <input name="token" type="text" class="form-control" id="token" placeholder="Token">
        <p class="help-block">Token reçu après connection</p>
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Déconnection</button>
    </div>
  </div>

  <div class="form-group api-response"></div>
  </form>
{% endblock %}
